body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard";
  font-style: normal;
}

.header {
  width: 100%;
  height: 197px;
  border: salmon 2px solid;
}

.cart {
  display: flex;
  width: 1050px;
  height: 709px;
  margin: 156px 435px 80px;
  justify-content: space-between;
}

.cartList {
  width: 742px;
  height: 100%;
}

.cartList__checkBox {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 18px 10px 16px 2px;
  color: var(--content);
  flex-direction: row;
  align-items: center;
  font-weight: var(--semi-bold);
  font-size: var(--text-14);
}

.cartList__checkBox label {
  display: flex;
  width: 130px;
  height: 24px;
  justify-items: center;
  align-items: center;
  padding-left: 35px;
  background-image: url(../../assets/icons/isChecked=false.svg);
  background-repeat: no-repeat;
}

.cartList__checkBox span {
  padding-right: 5px;
}

.cartList__checkBox input[type="checkbox"] {
  display: none;
}

.cartList__clear::before {
  display: inline-block;
  width: 1px;
  height: 14px;
  background: var(--gray-200);
  content: "";
  vertical-align: middle;
  margin-right: 15px;
}

.cartList__clear {
  height: 24px;
  border: none;
  background: var(--white);
  font-weight: var(--semi-bold);
  font-size: var(--text-16);
}

.cartList__body {
  font-weight: var(--semi-bold);
  font-size: var(--text-18);
  width: 100%;
  height: 180px;
}

.storage {
  display: flex;
  padding: 15px 5px 15px 0px;
  border-top: var(--content) 1px solid;
  justify-content: space-between;
  line-height: 30px;
}

.storage:last-child {
  border-bottom: var(--gray-100) 1px solid;
}

.storage__name {
  display: flex;
  height: 30px;
}

.storage:nth-child(1) .storage__name:before {
  content: url("../../assets/icons/drop.svg");
  padding-right: 8px;
}

.storage:nth-child(2) .storage__name:before {
  content: url("../../assets/icons/snow.svg");
  padding-right: 8px;
}

.storage:nth-child(3) .storage__name:before {
  content: url("../../assets/icons/sun.svg");
  padding-right: 8px;
}

.storage__button {
  display: flex;
  align-items: center;
  border: none;
  background: var(--white);
}

.storage__button img {
  transform: rotate(180deg);
}

.cradit {
  width: 284px;
  height: 709px;
  border: lightseagreen 1px solid;
}
