body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Pretendard';
  font-style: normal;
}

.cart {
  display: flex;
  width: 1050px;
  height: 709px;
  margin: 156px 435px 80px;
  justify-content: space-between;
}

.cradit {
  width: 284px;
  height: 709px;
}

.cradit__location {
  display: flex;
  height: 222px;
  padding: 23px 19px 20px;
  border: 1px solid #f2f2f2;
  flex-direction: column;
}

.locationTitle {
  display: flex;
  color: var(--black);
  font-weight: var(--semi-bold);
  align-items: center;
}

.locationInner {
  padding-top: 12px;
}

.locationInner__address {
  color: var(--black);
  font-weight: var(--semi-bold);
  padding-bottom: 16px;
}

.locationInner__shipping {
  color: var(--primary);
  font-weight: var(--bold);
  font-size: var(--text-12);
}

.locationInner__change {
  width: 244px;
  height: 44px;
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
  border-radius: 4px;
  margin-top: 12px;
  font-weight: var(--bold);
}

.cradit__price {
  display: flex;
  width: 284px;
  height: 267px;
  padding: 20px;
  border: 1px solid var(--gray-100);
  color: var(--content);
  background-color: var(--gray-50);
  flex-direction: column;
  align-items: flex-start;
}

.cradit__price ul {
  width: 244px;
  height: 134px;
  border-bottom: 1px dashed var(--gray-100);
}

.cradit__price li {
  padding-bottom: 20px;
}

.expectedPrice__item {
  display: flex;
  justify-content: space-between;
}

.expectedPrice-amount {
  width: 244px;
  height: 93px;
  padding: 24px 0 29px;
  line-height: 40px;
}

.expectedPrice-amount__inner {
  display: flex;
  justify-content: space-between;
}

.expectedPrice-amount__save {
  display: flex;
  font-weight: var(--bold);
  font-size: var(--text-12);
}

.expectedPrice-amount__save img {
  margin: 0 8px 0 73px;
}

.cradit__button {
  width: 284px;
  height: 44px;
  border: 0;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4px;
  margin-top: 16px;
  font-weight: var(--bold);
}

.cradit__notice {
  width: 284px;
  height: 144px;
  color: var(--gray-400);
  margin-top: 16px;
  font-size: var(--text-12);
  line-height: 16px;
}