.product-click {
  text-decoration: none;
  color: var(--black);
}

.mainSection {
  width: 1050px;
  margin: 0 auto;
}

.mainMain {
  margin: 40px 0;
}

.mainSub-titleRecommend-title {
  color: var(--content);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.mainSub-title {
  width: max-content;
  margin: 40px auto 0px auto;
}

.mainProduct {
  display: flex;
  overflow-x: hidden;
  margin: 40px 0;
  justify-content: space-between;
}

.product {
  /* overflow: hidden; */
  float: left;
  position: relative;
}

.product-image-container {
  margin: 0 8px;
  width: 248px;
}
.product-img {
  width: 248px;
  height: 320px;
}

.productCart {
  position: absolute;
  right: var(--text-10);
  bottom: 110px;
  border: none;
  background-color: transparent;
}

.product-name {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--text-l6);
  margin-top: var(--text-l6);
}

.discount-rate {
  color: var(--accent-yellow);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--bold);
  font-size: 20px;
}
.discount-price {
  color: var(--content);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--bold);
  font-size: 20px;
}

.original-price {
  color: var(--gray-400);
  font-family: "Pretendard";
  font-style: normal;
  font-weight: var(--regular);
  text-decoration: line-through;
  font-size: var(--text-12);
}

.prevGroup {
  position: absolute;
  transform: translate(-24px, -300px);
}

.nextGroup {
  position: absolute;
  transform: translate(1024px, -300px);
}

.mainAdvertisement {
  width: 1050px;
  padding: 40px 0;
}
