.popUp {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  display: flex;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.popUp__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUp__content {
  position: relative;
  top: 0px;
  width: 500px;
  height: 500px;
  padding: 50px 100px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
  display: none;
}

.popUp__product--name {
  display: flex;
  font-size: 14px;
  margin-top: 24px;
}

.popUp__product--count {
  display: flex;
  margin: 28px 0;
  justify-content: space-between;
}
.popUp__product--total {
  display: flex;
  justify-content: space-between;
}
.total--count {
  font-size: 16px;
  font-weight: 600;
}
.total--price {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.popUp__product--benefit {
  text-align: right;
}

.benefit--save {
  padding: 0 8px;
  color: white;
  background-color: #fa622f;
  border-radius: 1px;
  margin-right: 8px;
}
.benefit--explain {
  font-size: 14px;
}
.popUp__button--container {
  display: flex;
  margin: 28px 20px 54px 20px;

  justify-content: space-evenly;
}
#closePopup {
  padding: 10px 10px;
  border: 1px solid #898989;
  color: black;
  background-color: white;
  border-radius: 5px;
}
#putCart {
  padding: 20px auto;
  color: white;

  background-color: #5f0080;
  border-radius: 5px;
}
