/* 메인 구간 */
.main__productList {
  width: 1050px;
  margin: 0 auto;
}

/* 메인 타이틀 */
.main__title {
  text-align: center;
  font-size: 22px;
  font-weight: var(--bold);
  margin-top: 48px; 
}

.main__contentsWrapper {
  margin-top: 48px;
}

/* 상단 추천 */
.productList__recommendWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: var(--bold);
}

.productList__recommend {
  display: flex;
  color: var(--gray-300);
}

.productList__recommendOption {
  display: flex;
  align-items: center;
}

.productList__recommendLinkIcon {
  display: inline-block;
  width: 24px;
  height: 24px;  
  margin-left: 4px;
}

.productList__recommendOption:after {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 1px;
  height: 10px;
  margin: 0px 8px;
  background: var(--gray-300);
  content: "";
}

.productList__recommendOption:first-child {
  color: var(--black);
}

.productList__recommendOption:last-child::after {
  display: none;
}

/* 제품 */
.productListItem {
  display: inline-block;
  position: relative;
}

/* 제품 이미지 */
.productListItem__imgWrapper {
  width: 250px;
  height: 320px;
}

.productListItem__img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 제품 정보 */
.productListItem__metaWrapper {
  margin-top: 16px;
}

.productListItem__delivery {
  display: inline-block;
  font-size: 14px;
  color: var(--gray-400);
  font-weight: 600;
  margin-bottom: 8px;
}

.productListItem__name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.productListItem__info {
  margin-bottom: 8px;
}

.price__priceWrapper {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.productListItem__discount {
  color: var(--accent-yellow);
  margin-right: 8px;
}

.productListItem__originalPrice {
  display: inline-block;
  margin-bottom: 8px;
}

.productListItem__label {
  display: inline-block;
  background: var(--gray-100);
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 24px;
}

/* 카트 아이콘 */
.productListItem__button {
  position: absolute;
  top: 260px;
  right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  line-height: 15px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}